[2016-02-21 10:02] jesjos opened #4 "Setup postgres on travis"

[2016-02-21 14:32] jesjos opened #6 "Wrap in transaction"
Since upsert isn't wrapped in a transaction, on-commit hooks aren't fired.

[2016-02-21 16:30] jesjos commented on #4
Seems this might be tricky, no support out of the box for PG 9.5

[2016-02-21 20:22] jesjos opened #7 "Granular control over lifecycle hooks"
Right now we trigger save, create and commit hooks. The create hooks might be ill-advised, since we don't know if there is an extant record.

[2016-02-21 20:22] jesjos commented on #6
Closed in v0.4.0

[2016-02-21 20:22] #6 closed

[2016-04-14 09:56] jesjos commented on #4
fixed in #9

[2016-04-14 09:56] #4 closed

[2016-05-10 10:09] meetme2meat opened #14 "Use non primary key as as on conflict key."
Is it possible to change the `on conflict` key anything other than `primary_key`

[code]

to look like this

[code]

Also Is is possible to apply where clause to the update syntax as well.

[2016-06-07 12:59] jesjos commented on #14
I'm sure we can make something like that work but I haven't got the time currently. I'd welcome a pull request!

[2016-06-08 08:14] meetme2meat commented on #14
@jesjos Ok I can help. Any suggestion on where can I start looking into this.

[2016-11-15 19:45] pstare opened #22 "Error in README.md examples (id: 2 should be id: 1)"
The README contains erroneous examples that don't match the behaviour of this gem or the intent of upsert.

[code]

Verified this on master in the console.

[2016-11-15 19:49] olleolleolle commented on #22
Thanks, @pstare - if you make a PR, I'll merge it!

[2016-12-26 05:36] olleolleolle commented on #22
Closed by that PR. Thanks again.

[2016-12-26 05:36] #22 closed

[2017-01-24 11:03] BKSpurgeon opened #24 "why pg only?"
Hi all

thank you for your gem. it is very interesting. i have two questions:

(i) why must the test db be upsert_test?

(ii) am curious why pg is a requisite: cannot other db be just as easily used?

chrs

Ben

[2017-01-24 11:04] olleolleolle commented on #24
The PG-only is "we only needed PG".

[2017-01-24 11:29] BKSpurgeon commented on #24
ok chrs. also why must the test db be named: upsert_test?

[2017-01-24 11:36] olleolleolle commented on #24
It doesn't. Laziness. PRs welcome.

[2017-01-24 11:46] BKSpurgeon commented on #24
thank you so much for answering my questions. this project definitely does look interesting.

rgds

Ben

[2017-01-24 11:46] #24 closed

[2017-07-04 09:59] #14 closed

[2017-07-08 15:25] ValentinTrinque opened #28 "Support Rails 5.1.1"
I attempt to use your gem with a Rails 5.1.1 project, but failed at installation. Here is the error :

[code]

What about supporting Rails 5.1.1 ?

[2017-07-14 21:32] olleolleolle commented on #28
Can you try with current master?

[2017-07-29 12:37] pocke commented on #28
Hi. I use Rails 5.1.2, and I had same issue.
I tried using this gem with master branch, it works well.

Could you release this gem to rubygems.org?

[2017-08-22 12:06] marcgreenstock opened #31 "Support index expressions"
Hi, does/could this library support index expressions such as md5 indexes?

When the query is generated the columns in `upsert_keys` are wrapped in quotes:

[code]

[code]

The index expression `md5(name)` should not be in quotes.

[2017-08-22 12:14] olleolleolle commented on #31
The library does not have a maintainer, basically; but if you have PRs, go ahead and PR.

[2017-08-22 12:58] marcgreenstock commented on #31
okay i'll see what I can come up with

[2017-08-22 14:39] olleolleolle commented on #28
@pocke Thanks for the reminder and the reassurance.

v0.7.0 is now on RubyGems.

[2017-08-22 14:39] #28 closed

[2017-08-22 15:19] olleolleolle opened #35 "Add LICENSE"
This project needs a license:

- in the gemspec `spec.license       = 'MIT'` (You pick a license, @jesjos!)
- as a file in the repository. Example rendering of such a file: https://github.com/ember-cli/ember-cli/blob/master/LICENSE

[2017-09-04 15:27] #35 closed

[2017-10-16 14:56] olleolleolle opened #41 "README: Add headings for each usage section"
The README is getting richer.

To allow users to read it effectively, we can **add headings** to each kind of usage.

[2017-10-16 15:48] #41 closed

[2017-12-27 17:10] maxjacobson opened #44 "Support for inheriting upsert_keys"
Hi there,

We've been using your library and really appreciate it. Thanks!

One hiccup we just encountered is that, when using single-table inheritance, the upsert keys are not inherited by the subclasses. For example:

[code]

In the presence of a unique index on `owner_id` and `type` in the animals table, the above code block will raise an exception:

[code]

The issue, it seems, is that `Cat.up

[2017-12-27 18:13] jesjos commented on #44
Thanks for writing such a thoughtful issue! If you’d be prepared to submit a PR, that’d be super. 👍

[2018-01-26 09:31] vassilevsky opened #46 "Please publish a new version 🙏"
Hello. Thank you for this gem! It's a long awaited feature!

We wanted to use all the new functionality in our project. But when we added the gem, it didn't have all of it. There have been quite a few commits since the last release.

Could you publish another release with all the new code?

Thanks!

[2018-01-26 09:53] olleolleolle commented on #46
@vassilevsky Thanks for the kind words. In return, here's an extremely terse release note:

https://github.com/jesjos/active_record_upsert/releases/tag/v0.7.1

[2018-01-26 09:53] #46 closed

[2018-01-26 10:02] vassilevsky commented on #46
Thanks, Jesper! 👍

[2018-01-26 11:04] olleolleolle commented on #46
@jesjos Thanks!

[2018-02-02 15:11] gaffneyc opened #47 "Support pg version 1.0.0"
The version constraint for the dependency on `pg` may be too strict and isn't allowing 1.0+ of the pg gem. Would be great to make sure version 1.0.0 is supported and relax the version constraint.

[2018-02-02 15:13] olleolleolle commented on #47
Care to make the check?

[2018-02-02 15:17] gaffneyc opened #48 "Support Rails 5.2"
The Rails 5.2 release candidate came out a couple days ago and a final release should be out before long. At a minimum the version constraint will need to be updated, other than that I'm not sure if there are any new incompatibilities.

[2018-02-02 15:19] gaffneyc commented on #47
Sure, I can take a look

[2018-02-02 15:25] olleolleolle commented on #47
20+ days ago this was committed to Rails' repo:

https://github.com/rails/rails/commit/f820dc2dea3775f6c05c5ca77631ac27a9d3c954#diff-d7ae9a835adce5aead1bf757f121e359

[2018-02-02 15:27] gaffneyc commented on #47
After a quick check it appears that ActiveRecord 5.1.4 (and probably older) have a version constraint hard coded for `gem "pg", "~> 0.18"`

Edit: Just saw that and this issue: https://github.com/rails/rails/pull/31671

[2018-02-02 15:28] gaffneyc commented on #47
As far as ActiveRecord goes, it looks like pg 1.0 won't be supported until 5.0.7, 5.1.5, and 5.2.0

[2018-02-02 15:45] #47 closed

[2018-02-02 15:49] olleolleolle commented on #47
v0.7.2 has been released.

[2018-02-02 16:08] gaffneyc commented on #47
Thanks! :+1:

[2018-02-03 13:37] #44 closed

[2018-02-03 13:39] olleolleolle opened #52 "RSpec zero-monkey patch mode"
This Issue is here to note a comment I made in #51 about an RSpec feature I want us to enable.

https://relishapp.com/rspec/rspec-core/v/3-7/docs/configuration/zero-monkey-patching-mode

A developer experience improvement.

[2018-02-05 09:21] olleolleolle commented on #48
Fixed in #53.

[2018-02-05 09:21] #48 closed

[2018-02-05 09:38] olleolleolle opened #54 "[chore] Configure Travis for RubyGems Deployment"
https://docs.travis-ci.com/user/deployment/rubygems/

This will improve the maintainer experience.

[2018-02-05 17:56] maxjacobson commented on #44
Hey, thanks!

[2018-02-13 11:13] #52 closed

[2018-02-14 14:38] benedikt opened #57 "ActiveRecord::Base.upsert should return record instead of boolean when validation fails"
In ActiveRecord both `Model.create` and `Model.update` [always return the record](https://github.com/rails/rails/blob/master/activerecord/lib/active_record/persistence.rb#L100-L117)  (or a collection of records). Unfortunately `Model.upsert` only returns the record when validations pass. When they fail [it returns `false`](https://github.com/jesjos/active_record_upsert/blob/07bdabf585405143e02bfc7

[2018-02-14 15:06] olleolleolle commented on #54
I have now with some trepidation configured this repository's Travis for this.

[2018-02-14 15:08] olleolleolle commented on #54
Now releasing v0.7.4 using this method...

[2018-02-14 15:11] olleolleolle commented on #54
Wo-hoo, that works!

[2018-02-14 15:11] #54 closed

[2018-03-27 23:22] paulwalker commented on #31
additionally, in some cases it is necessary to name the constraint (as you do with partial unique indexes apparently. `ON CONFLICT ON CONSTRAINT <contraint_name>`

[2018-03-28 07:01] olleolleolle commented on #31
@paulwalker The more you learn! Thanks for weighing in.

[2018-04-10 06:00] Val opened #62 "eval_gemfile errors when initializing an upsert_test database"
Following https://github.com/jesjos/active_record_upsert#tests instructions :
[code]

The `pushd` [here](https://github.com/jesjos/active_record_upsert/blob/master/bin/run_rails.sh#L2) change current path makes all `eval_gemfile` with a relative path fail.

[2018-04-10 07:07] #62 closed

[2018-04-10 07:49] olleolleolle opened #64 "DB setup - after creating, add db/structure.sql"
Seems like the current setup procedure has issues  with having things set up for the tests to run right.

# Current broken way:

- createdb
- seed with db/structure.sql
- dropdb
- createdb

See https://travis-ci.org/jesjos/active_record_upsert/jobs/364455126#L635 for more details of this.

[2018-04-10 11:04] olleolleolle commented on #64
Fixed in #65 - thanks @benedikt!

[2018-04-10 11:04] #64 closed

[2018-04-10 17:09] abinoda opened #66 "Error when there are no attributes to update"
If I have a table like this:

[code]

And a model like:

[code]

And then run:

[code]

It throws an error due to trying to run a bad query. This seems to be happening because it tries to execute an `ON CONFLICT UPDATE` clause but there's nothing to update so it just leaves it blank, resulting in an error. Instead it should run `ON CONFLICT RETURN`

[2018-04-10 17:14] abinoda commented on #66
@jesjos Let me know if this makes sense

[2018-04-10 17:48] abinoda commented on #66
@jesjos I'm using this in https://pullreminders.com to help with all the queries related to sync data with GitHub. It's working great overall.

[2018-04-23 02:50] abinoda opened #69 "Does not work with associations"
This works:
[code]

This does not work:
[code]

[2018-04-23 03:00] abinoda commented on #69
@jesjos @olleolleolle  In the second example, the `color` will not be updated in the database and no warnings or errors are thrown. This means that a lot of my `upsert!` calls are not doing what I thought they were doing 😢

[2018-04-23 04:26] abinoda commented on #69
@jesjos Can you confirm that what I reported is the current behavior?

For now I've just rewritten my code so I always refer to the database column names versus association names. This seems like an OK solution but I think this library should then throw an exception when trying to refer to an association name like `ERROR: unrecognized column :category - did you mean :category_id`.

What do you thi

[2018-04-23 04:28] jesjos commented on #69
I can't confirm it right now, but I'm pretty sure it behaves the way you describe. I think we should be able to solve it by calling `#to_param` or something similar on the values to be inserted.

[2018-04-23 04:32] abinoda commented on #69
@jesjos That makes sense. I don't think it needs to support calling associations if it adds complexity. But if its easy to do that'd be great

[2018-04-23 10:29] jesjos commented on #69
Ah, it wasn't that easy, of course. `#to_param` will dumb down everything to a string. I'm trying to sift through the "normal" active record code to see how they handle this.

[2018-04-23 11:06] jesjos commented on #69
We might be able to do something like:

[code]

[2018-04-24 16:04] jjb commented on #66
I am having the very same issue. I'd like to do "ON CONFLICT DO NOTHING". There seems to be some support for this: https://github.com/jesjos/active_record_upsert/search?utf8=%E2%9C%93&q=nothing&type=

But I don't know how to use it.

[2018-04-24 17:01] abinoda commented on #66
@jjb @jesjos I'm not sure it should be a `DO NOTHING` - it should probably just return the results from the existing/conflicting record in the db?

[2018-04-25 08:41] #31 closed

[2018-04-26 07:54] jesjos commented on #69
I think we're basically missing something like the call to `assign_attributes` that is done in (for example) `#update`:

https://github.com/rails/rails/blob/master/activerecord/lib/active_record/persistence.rb#L427

[2018-05-05 07:10] lauraannwilliams opened #72 "Tries to update virtual field"
I added a couple of virtual fields to a record in rails 5.1. using the attribute api

attribute :use_default, :boolean, default: false

And now when I try to upsert, it's trying to set those values and I get a sql error

PG::UndefinedColumn - ERROR:  column "use_default" of relation "translations" does not exist

I think it's due to this line
https://github.com/jesjos/active_record_upsert/blob/bed

[2018-05-05 07:17] olleolleolle commented on #72
Good report!

Yes, the Attributes API would get issues, so I support getting a fix for this.

Do you feel up to offering a PR? It doesn’t matter if it’s not perfect from the start.

[2018-05-11 03:14] abinoda commented on #66
@jesjos Any thoughts on this issue?

[2018-05-14 15:00] abinoda commented on #66
@jesjos I feel like the purpose is no different than any other upsert.

This is what it looks like to do a find or create....
[code]

In addition to being verbose, this requires two separate roundtrips to the database. It would be great to be able to replace this with:

[code]

Right now running this ^ code blows up because it tries to execute a malformed `ON CONFLICT UPDATE` clause. Instead it sh

[2018-05-23 21:59] ashton-mccrate commented on #66
I ran in to this issue as well, but noticed that the error doesn't happen on master.

I've traced it back to the [removal of the `map(&:to_s)`](https://github.com/jesjos/active_record_upsert/pull/70/files#diff-62c5862415954150705114c6e7a3fceaR78) in PR #70.  (Though I'm not entirely sure why)

It's still executing `ON CONFLICT DO UPDATE` with the values passed in the `upsert` (so not a `DO NOTHING

[2018-05-24 08:38] olleolleolle commented on #66
@ashton-mccrate Thanks for the test and for reminding me to release. I created a `v0.9.1`.

[2018-05-24 08:38] olleolleolle commented on #66
@abinoda Does the issue persist with what's released now?

[2018-06-05 22:21] goravbhootra opened #73 "bulk processing and define fields with upsert instead of class"
Hi,

We are working on doing bulk data import and are looking for a library supporting upsert. Trying to understand how we can:

1. Upsert bulk array of hashes

1. Define the `conflict clause` while doing `.upsert` rather than defining it it class. Different combination of data needs to figure out duplicates on different keys.

Thanks in advance.

[2018-06-07 06:21] dounan opened #74 "Custom `upsert_keys` per call to `upsert`"
We have a `foo` table that has two unique indices:
[code]

In our model, we specify the `upsert_keys` to cover the first unique index as follows:
[code]

However, whenever we do an `upsert` on a record that has a `nil` value for `c`, we run into duplicate key errors from the second unique index.

Is there any way in the current library to set the `index_column_names` and `index_expression` per `up

[2018-07-23 17:49] abinoda commented on #66
@olleolleolle Sorry, I missed your comment for some reason. I'll test this out soon.

[2018-08-10 09:56] benedikt commented on #7
With #75 in place, it's possible to implement this properly. However it'd be a breaking change. I'm happy to implement it, but I'd like to hear your opinion on how to handle the breaking change.

Also, I think I figured out a way to return the attributes _before_ the upsert if a record existed already. This would be useful to figure out changes to attributes after updates.

[2018-08-10 13:11] olleolleolle commented on #7
For my money, a major version update's fine - make the break and move on -  we're a small and active community of users, here.

[2018-08-10 13:14] #72 closed

[2018-08-10 13:14] #69 closed

[2018-08-10 13:38] olleolleolle commented on #7
@benedikt Do you think we ought to release today? Is it a minor, so that we're at `0.10.0`?

[2018-08-10 16:46] benedikt commented on #7
@olleolleolle Totally up to you. It’ll most likely take me a few days until I get to work on the callbacks.

[2018-08-11 05:28] olleolleolle commented on #7
@benedikt Just a check - we're still not yet in "backwards-compat break", are we?

[2018-08-11 07:36] benedikt commented on #7
The recent changes only fixed two issues, no backwards incompatible changes, yet.

[2018-08-13 16:27] olleolleolle commented on #7
@benedikt I released v0.9.2.

[2018-09-16 05:39] abinoda opened #79 "Primary key not returned when upserting specific attributes"
**This issue was introduced when I upgraded from 0.9.1 to 0.9.3.** See the example below`user.id` is `nil` in the final object. Again, this code works fine in v0.9.1 but not 0.9.3.

[code]

[2018-09-16 06:27] jesjos commented on #79
Hi! Thanks for reporting this!

I'm trying to reproduce this using a unit test, but it's going nowhere. See this commit: https://github.com/jesjos/active_record_upsert/commit/3c2821354309c2e04310bc0b7d65f2f9a4064816

[2018-09-16 06:38] abinoda commented on #79
@jesjos Just left a comment https://github.com/jesjos/active_record_upsert/commit/3c2821354309c2e04310bc0b7d65f2f9a4064816#r30519950

[2018-09-16 06:41] abinoda commented on #79
@jesjos I'll pull down the code and check out that test. Will get back to you.

[2018-09-16 08:09] abinoda commented on #79
@jesjos Ok, so I wasn't able to get that test to fail either, which got me curious. I tried upgrading my app to Rails 5.2 from 5.1.6 and the issue went away. So this issue is specific to Rails 5.1.

Now I'm trying to run the test suite for `active_record_upsert` with the Rails 5.1 Gemfile to try and isolate what the issue was but I'm getting tons of test failures.

What are your thoughts?

[2018-09-16 08:51] jesjos commented on #79
I’m not in a position to try anything out right now, but I can try later today. It seems the travis builds aren’t building the correct rails versions. I need to take a look at that as well. I’ll get back to you.

[2018-09-16 14:27] jesjos commented on #79
Can confirm our travis build matrix has not been working as intended, all tests have run on rails 5.2 :(

Seeing a lot of errors. Guess we'll have to start fixing them.

[2018-09-16 17:36] abinoda commented on #79
@jesjos Gotcha. Yeah I ran manually by changing `Gemfile` contents to `eval_gemfile "#{__dir__}/Gemfile.rails-5-1"`, running `bundle`, then running the tests. Glad we discovered this though!

[2018-09-17 15:45] jesjos commented on #79
Working on this here: https://github.com/jesjos/active_record_upsert/issues/79

I've got most tests working, some left.

[2018-09-19 05:56] jesjos commented on #79
Closed in #82

[2018-09-19 05:56] #79 closed

[2018-09-19 07:02] olleolleolle commented on #79
Yay!

@jesjos Thanks for listening and building!

@abinoda Thanks so much for reporting with such clarity and detail! (Happy that your test suite helped _this project_, too!)

:hearts: :yellow_heart: :green_heart: :blue_heart: :purple_heart:

[2018-09-19 07:06] abinoda commented on #79
@jesjos Thanks for resolving this! And thank you @jesjos @olleolleolle for maintaining this library. It's been critical for my project and is a much needed piece in the Ruby/Rails ecosystem.

[2018-11-02 02:50] superuser14 opened #86 "Updating does not fire callbacks with updated attributes"
When updating a record via `upsert!`, callbacks do not use the latest attribute values. See example below:

[code]

[code]

I think its related to [this commit](https://github.com/jesjos/active_record_upsert/commit/6387036bf91397cd6203cc7c279d8c7b76020771).

[2018-11-02 02:51] #86 closed

[2018-11-02 02:51] abinoda opened #87 "Updating does not fire callbacks with updated attributes"
When updating a record via `upsert!`, callbacks do not use the latest attribute values. See example below:

[code]

[code]

I think its related to [this commit](https://github.com/jesjos/active_record_upsert/commit/6387036bf91397cd6203cc7c279d8c7b76020771).

[2018-11-02 03:09] abinoda commented on #87
Ping @benedikt

[2018-11-02 10:00] benedikt commented on #87
Hi @abinoda!

I can confirm that this doesn't work as expected and was able to trace it down to this line: https://github.com/jesjos/active_record_upsert/blob/24d7faaaf6ca63f987a870c0f6c47e02e8d50b48/lib/active_record_upsert/active_record/persistence.rb#L47

When using `.upsert!`, the attributes used in the `ON CONFLICT` get limited to whatever is passed to the method in the first place. Any chang

[2018-11-02 15:39] abinoda commented on #87
@benedikt Would adding a `run_callbacks(:before_save)` to `#upsert!` work? Before line 8 of https://github.com/jesjos/active_record_upsert/blob/24d7faaaf6ca63f987a870c0f6c47e02e8d50b48/lib/active_record_upsert/active_record/persistence.rb#L8

[2018-11-02 15:55] benedikt commented on #87
No, `run_callbacks(:save)` runs all save related callbacks (before, around, after).

[2018-11-09 22:38] abinoda commented on #87
@benedikt Should the README be updated? See related – https://github.com/zdennis/activerecord-import#callbacks

[2018-11-09 22:39] abinoda commented on #87
Or I wonder if all callback support should just be removed? Instead of there being ambiguous partial support?

[2018-11-14 06:31] jesjos commented on #87
I have this vague memory that we added callback support in order to have timestamps work like you expect, but I'm not sure. I'm all for removing callback support if we can just make sure timestamps work.

[2018-11-14 08:59] benedikt commented on #87
@jesjos The timestamps don't rely on callbacks right now: https://github.com/jesjos/active_record_upsert/blob/master/lib/active_record_upsert/active_record/timestamp.rb

However, I still think this isn't a problem with callbacks, but with the way `.upsert!` handles the attributes that will be saved to the database. It will only update the given attributes in the `ON CONFLICT` clause.

The initial

[2018-11-14 22:38] abinoda commented on #87
Just to provide some more color to this, I'm currently looking at using https://github.com/attr-encrypted/attr_encrypted. I'm thinking through whether or not it works out of the box with `upsert`.

It would be nice to be able to say "oh, `upsert`" doesnt handle callbacks, I need to take care of them manually" versus trying to figure out what callbacks do and don't fire, and how to only address the

[2018-11-28 01:39] bvallier opened #88 "Upsert Nil in Place of Current Value"
I'm running an upsert that replaces the current value (e.g. a non-nil value) with a nil, but the nil fails to get upserted. Upserts of any other value seems to work. Is this unexpected behavior? Am I missing something?

[2018-11-28 04:06] myfitment opened #89 "Rails 4 version?"
Is there any version of this that supports Rails 4?

[2018-11-28 05:06] jesjos commented on #88
I’d say it’s probably a bug. I’ll investigate.

[2018-11-28 05:39] olleolleolle commented on #89
No. Hope this helps.

[2018-11-30 00:09] jeremywadsack commented on #66
@olleolleolle I am still getting this error on `active_record_upsert-0.9.4`.

Here is my simple test case:

[code]

[code]

[code]

With a result:

[code]

I believe this is because the persistence code [removes the `upsert_key` from the attributes to set](https://github.com/jesjos/active_record_upsert/blob/24d7faaaf6ca63f987a870c0f6c47e02e8d50b48/lib/active_record_upsert/active_record/persistence

[2018-11-30 00:13] jeremywadsack commented on #66
Sorry, that was not quite right. I figured out the problem:

If I use this model (keys as strings), I get the error:

[code]

But with this model (keys as symbols) it works fine:

[code]

I would say the reported bug is resolved. (Supporting string instead of symbol for a column name would be a separate feature request, but I'm happy to stick to symbols.)

[2018-12-03 19:53] abinoda commented on #88
@bvallier @jesjos Just checking on this... is it an actual issue?

[2018-12-13 18:18] jesjos commented on #89
We'll be glad to consider a PR that adds Rails 4 support. Closing this issue in the meantime.

[2018-12-13 18:18] #89 closed

[2018-12-14 22:41] bvallier commented on #88
`
describe 'upsert_nil' do

	it 'returns false if nil fails to get upserted' do
            s = Student.find_or_initialize_by(unique_id: '1234567', first_name: 'Brice')
		s.upsert!

		#now try and change it to nil
		s2 = Student.find_or_initialize_by(unique_id: '1234567', first_name: nil)
		#s2 = Student.find_or_initialize_by(unique_id: '1234567', first_name: 'John')
		s2.upsert!

		first_name = S

[2018-12-15 00:14] jherdman opened #90 "Support Other "ON CONFLICT" Options"
It'd be really great to be able to support "ON CONFLICT DO NOTHING". Is there appetite for this feature?

[2019-01-16 23:57] zdrummond commented on #88
I am getting hit by this as well. Any progress? Thanks!

[2019-01-17 00:06] abinoda commented on #88
@zdrummond @bvallier Does this only happen when you use `find_or_initialize_by`?

[2019-01-17 00:33] zdrummond commented on #88
I am doing a `new` passing in the latest data. Note: using Postgres

[code]

Note the estimate in the updated starts off as `nil` then reverts back to 11
Note2: I hand blanked some of the data with **** just to hide the private ids, but none of that data was to be updated

[2019-01-19 12:57] jockee opened #91 "Support for Active Record 6"

[2019-01-20 14:43] jesjos commented on #88
This spec should demonstrate that setting stuff to nil is possible on some level: https://github.com/jesjos/active_record_upsert/blob/master/spec/active_record/base_spec.rb#L66

I think maybe something more subtle is going on. Still investigating.

[2019-01-20 15:13] jesjos commented on #88
Oh, I'm sorry. That test runs green b/c it uses `attributes: [:id, :name]`.

[2019-01-23 20:10] tjwallace commented on #73
Try https://github.com/zdennis/activerecord-import

[2019-04-25 22:10] tjwallace commented on #91
See PR #92.

[2019-04-26 16:49] #91 closed

[2019-04-26 22:17] hahuang65 commented on #74
Would like to bump this, as I'm requiring this feature for something I'm working on as well.

It's not uncommon to have different upsert clauses.

[2019-04-26 22:19] olleolleolle commented on #74
Pull Requests are welcome!

[2019-04-29 21:44] hahuang65 commented on #74
@olleolleolle just added one 👍

[2019-05-02 06:47] olleolleolle opened #95 "Explain difference between this library and Rails 6"
You probably _can_ use the built-in Rails methods `upsert_all` and `upsert` in Rails 6.

- https://medium.com/@retrorubies/upcoming-rails-6-bulk-insert-upsert-feature-2d642419557d
- https://github.com/rails/rails/pull/35631

Todo:

- Link to https://medium.com/@retrorubies/upcoming-rails-6-bulk-insert-upsert-feature-2d642419557d and https://github.com/rails/rails/pull/35631 prominently in the docs

[2019-06-06 21:35] bgerami opened #96 "Updates to an upserted record are not applied"
After upserting, the very next save on the resulting record does not persist

[code]

The first upsert does an `INSERT ON CONFLICT` generating the record
The very next update tries to update every column `UPDATE "my_model" SET "id" = $1, "name" = $2 ...`
Then the update after that does the usual `UPDATE "my_model" SET "age" = $1 ...`

[2019-09-23 13:02] ka8725 opened #97 "Change description of the gem"
`Upsert for Rails 5 / Active Record 5` is no longer true. It supports Rails 6 as well?

[2019-10-29 16:39] sjorsbranderhorst opened #98 "Columns with database defaults are not updated"
We found that when having a default in the database (here for a table called ``hardwares``)

    ┌─────────┬─────────────────┬────────
    │ Column  │           Type  │ Default
    ├─────────┼─────────────────┼─────────
    │ id      │ integer         │ ...
    │ prio    │ integer         │ 999

and upserting like so:

    hw = { prio: 998 }
    id = Hardware.new(prio: hw[:prio]).upsert.id

that t

[2019-10-29 16:43] olleolleolle commented on #98
Thanks for explaining!

Could you make the above into a part of our README - as a Pull Request? It's a sort of workaround/explanation of behavior.

[2019-12-24 18:43] yu-coder opened #101 "Rails - upsert no unique index found"
This is my migration file.

[code]

This is my code.

[code]

But I am getting this error.

`No unique index found for {:columns=>[:book_id, :book_detail_id]}`

[2020-01-15 07:23] #74 closed

[2020-01-27 23:04] andrewclink opened #102 "Upsert tries to insert NOT NULL columns as NULL"
When upserting a record in a database column is not nullable and has a default value, ActiveRecord::Upsert attemps to insert a nil value. This raises an exception:

    PG::NotNullViolation: ERROR:  null value in column "uuid" violates not-null constraint

The table looks like this:

[code]

And the SQL generated for the upsert is as follows:

[code]

Failing test available in this branch: https:/

[2020-01-27 23:08] andrewclink commented on #102
One way to solve this is to continue the class-level and `opts:` API to allow passing an `excluded_keys` array. This would be easy to implement in e.g. [rails51.rb](https://github.com/jesjos/active_record_upsert/blob/2c67878034c9c5c45b8a7cf8cbfa1d027cda8189/lib/active_record_upsert/compatibility/rails51.rb#L28) by removing the excluded keys from `upsert_keys`

I'd be happy to submit a PR.

[2020-06-08 09:30] sandersiim opened #104 "Latest additions and opts: api are not released in rubygems"
Latest rubygems.org version is 0.9.5 which doesn't contain the opts: API described in README of this repo, which is confusing. Can latest state be released to rubygems as well?

[2020-08-23 21:32] jcquarto commented on #101
I think you just pass the array of fields , not a hash of them.  So:
`unique_by: [:book_id, :book_detail_id]`
which looks for a unique set of book_id and book_detail_id.   (no idea what happens in one of those is null)
hope that helps

[2020-09-30 08:15] mikebaldry opened #106 "ActiveRecord::StatementInvalid: PG::InternalError: ERROR: virtual tuple table slot does not have system attributes"
Code:

[code]

SQL generated:
[code]

Error from PG:
[code]

Removing the `(xmax = 0) AS _upsert_created_record` solves the issue.

Reasons why my setup is weird:
1. I'm using a composite primary `(id, tenant_id)`
2. The table is partitioned by `tenant_id`

[code]

Version: 0.9.5
Rails: 5.2.4.4
Ruby 2.7.1p83

[2020-09-30 08:38] mikebaldry opened #107 "Calculated upsert"
I would like to do something along the lines of `... ON CONFLICT DO UPDATE SET x = x + 1 ...`

Is this currently possible some how?

Many thanks

[2020-09-30 09:43] olleolleolle commented on #106
(Reminds me, perhaps it' relevant to learn which PostgreSQL version this happens on?) https://www.postgresql.org/message-id/20190725015448.e5a3rwa22kpnzfe3%40alap3.anarazel.de - I casually browsed this email list, which mentions work on something which had some clues about the `xmax` property.

If you want to dive in to the "support composite keys" scenarios, be my guest. PRs welcome.

[2020-12-18 19:16] jherdman opened #109 "Release?"
On the off chance this isn't on your radar, would you mind doing a release? This library is presently a blocker on upgrading to Rails 6.1 for my team.

❤️

[2020-12-18 20:10] olleolleolle commented on #109
Are you using the library? Is it a dependency you like? Do you want to join me in maintaining it?

[2020-12-18 20:26] jherdman commented on #109
I'm not sure I'm a great candidate as I'm not familiar with the code. How can I can best help at this time?

[2020-12-19 05:54] olleolleolle commented on #109
My suggestion: you learn to bump the version, write a release note, and "make the release", and we take it from there. Then you'll be able to assist this project with that careful once-every-6-months task.

Does this sound like you?

[2020-12-20 00:37] jherdman commented on #109
Closed by #110

[2020-12-20 00:37] #109 closed

[2020-12-21 12:14] olleolleolle commented on #97
Ah, I took a look at the description used, now, and saw that it was changed in this commit: https://github.com/jesjos/active_record_upsert/commit/afa65d64ff8101ffabe39a40565011a033c352dd

[2020-12-21 12:14] #97 closed

[2020-12-21 12:15] olleolleolle commented on #66
I appreciate the analysis, and will close this issue.

[2020-12-21 12:15] #66 closed

[2020-12-21 12:17] olleolleolle commented on #57
This is a feature which could be created, and named, and a major version introduced.

[2021-04-20 13:22] nickcampbell18 opened #113 "Upserting a record doesn't clear the "dirty" state"
When I create or update a record, I would expect it to clear the `changes` on the model:

[code]

This isn't the case with upserts, even after the record has been safely persisted:

[code]

I noticed this when mixing upserted models with relations. Because Rails thinks the relation has changes, it attempts an update of that recently-upserted record. For example:

[code]
... this issues two queries

[2021-04-21 07:07] olleolleolle commented on #113
@nickcampbell18 Cool analysis! Do you think you want to offer a PR with tests and a change for this behavior to better match your expectations?

[2021-04-21 07:25] nickcampbell18 commented on #113
I will try my best :+1:

[2021-04-21 08:54] olleolleolle opened #115 "New minor version: Drop support for EOL Rails versions"
This Issue is a sign-post issue about **dropping support for  EOL Rails versions**. Current Rails versions are:    6.1.Z, 6.0.Z, 5.2.Z.

## Needed for this to be done

- [ ] Explain the support schedule being the same as Rails's https://guides.rubyonrails.org/maintenance_policy.html
- [ ] Update note in README about supported versions.
- [ ] Remove Gemfiles.
- [ ] Change the Travis & GitHub Action

[2021-04-21 09:21] #113 closed

[2021-04-21 09:25] olleolleolle opened #116 "New minor version: Support current Ruby versions"
This Issue registers the need to update CI and README with notes on what versions of Ruby are expected to be supported.

The Ruby support schedule is at https://www.ruby-lang.org/en/downloads/branches/

## Ruby 3.0

status: normal maintenance
release date: 2020-12-25

## Ruby 2.7

status: normal maintenance
release date: 2019-12-25

## Ruby 2.6

status: security maintenance
release date: 2018-12-2

[2021-06-17 18:44] rsimpsonn commented on #107
Any update here? Is this possible with the library? Thank you!

[2021-08-04 23:06] hammady opened #117 "Return number of inserted/updated records?"
Is it possible to return the number of inserted records (or updated ones) as a result of executing the upsert statement?
For example, when the `INSERT` succeeds, it could set an instance variable: `__inserted: 1`. If there was a conflict and there was a `ON CONFLICT DO UPDATE`, the number of updated records are set: `__updated: 1`. If there was a `WHERE` clause in the update which caused the updat

[2021-10-11 16:28] cristina-cowboy opened #119 "Specifying upsert attributes for associated data"
I am trying to create/ update a record with associated data and also with a specific field only for the the create operation. I am running into the following situation:

[code]

In this case the `nested_resource` gets updated if the record gets updated, but the `special_attribute` gets set as well.

If I want to keep the `special_attribute` only on create and switch to something like this:
[code]

[2022-01-05 14:59] #116 closed

[2022-01-05 16:13] #115 closed

[2022-01-07 09:44] nickcampbell18 opened #124 "Release version v0.11.0"
@olleolleolle could I trouble you please to release a new version (probably `v0.11.0` given #123)? This is the final dependency in my pile of Rails 7 upgrades 😄

Let me know if I can do anything. I've noticed there isn't a CHANGELOG.md, I'd be happy to write one if you wanted.

[2022-01-07 15:00] olleolleolle commented on #124
@nickcampbell18 if you have a proposed CHANGELOG note we can slap it onto the Release in GitHub (skipping a markdown file for now, perhaps if you feel like making one, but the most important thing is "what's in the current one?")

[2022-01-07 15:04] nickcampbell18 commented on #124
* Rails 7 compatibility
* Dropped support for Rails 5.0 and Rails 5.1
* Added official support for Ruby 3.0

[2022-01-07 16:05] olleolleolle commented on #124
Released as v0.11.1, I really don't like the "Save Draft" creating a Git Tag for me, it should be inert until I say "please publish".

[2022-01-07 16:05] #124 closed

[2022-01-07 16:08] nickcampbell18 commented on #124
Thank you very much 🙏

[2022-01-07 16:09] olleolleolle commented on #124
@nickcampbell18 You're an active user of this gem, right?

Would you like to join the maintenance team, and be able to release this gem?

[2022-01-07 16:14] nickcampbell18 commented on #124
Sure, that would be nice!

[2022-02-17 17:46] hammady opened #125 "Callbacks are fired even though upsert was skipped"
If the `upsert` operation is protected by an `arel_condition` which results in no records upserted, the model callbacks still fire producing errors. If no records are upserted, no callbacks should be fired.
Take the below as an example:
[code]
In the above example, the first subscription is created and the `after_save` is called. However, in the second subscription, the upsert results in no record

[2022-04-25 21:20] hrdwdmrbl opened #126 "Does not work with counter_cache"
Rails version 6

When upserting, association counter caches do not get incremented.

It looks like counter caches do not get incremented with normal callbacks: https://github.com/rails/rails/blob/v6.1.5/activerecord/lib/active_record/counter_cache.rb#L165

I fixed it by incrementing the counters myself but it feels bad :)

[2022-05-12 11:44] hrdwdmrbl opened #127 "How to upsert associations?"
Example where there is a uniqueness constraint on Children's names

[code]

When the parent saves, it will auto-save the child. How can I `upsert` the child?

[2022-05-12 11:58] hrdwdmrbl commented on #127
A possible solution is to intercept the `save` method

[code]

This seems to work in my testing but it makes me very nervous!

[2022-05-12 13:57] hrdwdmrbl opened #128 "Empty record when conditional finds none"
**Context**: The problem is basically https://stackoverflow.com/questions/34708509/how-to-use-returning-with-on-conflict-in-postgresql/37543015

**Problem**: If you have a conditional upsert, `record.upsert!({arel_condition: upsert_condition})`, and the condition returns no rows, then the `record` object will be empty.

**My situation**: In my case, my condition is about timestamps. ` self.class.a

[2022-05-12 14:42] hrdwdmrbl commented on #128
Perhaps a do-no-harm short-term change could be to not overwrite @attributes when `values.first.to_h` is `.empty?` ? It won't really help fix anything but at least it's less data-destructive

[2022-06-25 12:55] hrdwdmrbl opened #130 "PG::TRDeadlockDetected: ERROR: deadlock detected"
[code]

I'm not sure whether the problem is caused by this gem.
I post anyway just in case anyone else encountered a deadlock issue.
I cannot imagine how a deadlock could occur while updating a single record.
Could callbacks that involve other tables create the problem?
I don't understand how Rail's locking happens under the hood.
That lack of deep understanding could be causing me to do something

[2022-11-09 10:40] olleolleolle opened #132 "Tests: database_cleaner fails"
on latest Rails, database_cleaner fails - perhaps the whole cleaner ought to be removed?

[code]

See this bug: https://github.com/DatabaseCleaner/database_cleaner/issues/693

[2022-11-09 11:46] #132 closed

[2022-11-09 11:47] olleolleolle commented on #104
https://github.com/jesjos/active_record_upsert/releases/tag/v0.11.1 was released after this was mentioned, so thanks for the reminder!

I will close this Issue.

[2022-11-09 11:47] #104 closed

[2022-11-18 19:50] gnumarcelo opened #135 "Ruby 3.1 support"
Hey guys, as we have this states in the docs:

 And that Rails issue is currently fixed, I'm wondering if this gem is being tested/compatible with Ruby 3.1.

 ps.: Thanks for maintaining the project, by the way.

[2022-11-19 09:00] olleolleolle commented on #135
Would you like to offer a PR adding 3.1 to the ci matrix and fix the README?

[2022-11-19 15:09] jesjos commented on #107
It's not currently possible with this library, but please do provide a PR that adds that functionality

[2022-11-19 15:09] #107 closed

[2022-11-19 15:11] jesjos commented on #125
Hi, I was looking into this and couldn't find any good seam where we could insert a check. We can introspect the result of the SQL query, so in theory it's possible to know when no record was upserted. But I can't find a nice way of conditionally skipping callbacks based upon this info. Help appreciated!

[2022-11-19 15:13] jesjos commented on #73
PR welcome, but the maintainers won't develop this functionality.

[2022-11-19 15:13] #73 closed

[2022-11-19 15:13] jesjos commented on #95
I think we can say this was covered in #131

[2022-11-19 15:13] #95 closed

[2022-11-19 15:48] #135 closed